/* type face import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');


/* Lemon reset */
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: whitesmoke;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* global rules */
html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}


/*begin styling */

#header {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #FF5500;
  box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#header_max_con {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}
#header svg {
  margin: 10px;
  margin-top: 12px;
}
.account_btn--con {
  display: inline-block;
  float: right;
  margin: 10px 20px;

}
.account_btn--con_mobile {
  display: none;
}
.header_btn {
  display: inline-block;
  font-size: 20px;
  width: 150px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
   transition-duration: 0.4s;
}
.header_btn:active {
  box-shadow: none;
  padding: 3px 3px inherit inherit;
}
.header_btn a {
  text-align: center;
  text-transform: uppercase;
  color: #FF5500;
  text-decoration: none;
  width: 150px;
  font-weight: 700;
}
/*mobile header styling*/
@media only screen and (max-width: 600px) {
  .account_btn--con {
    display: none;
  }
  .account_btn--con_mobile {
    display: inline-block;
    float: right;
    margin: 15px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
  }
  .account_btn--con_mobile ul {

    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  .account_btn--con_mobile li a {
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 20px 20px;
  border-bottom: 1px solid #FF5500;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #FF5500;
    }

  .account_btn--con_mobile .menu {
    background-color: white;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;

  }
  .account_btn--con_mobile .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin: 22px 12px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.account_btn--con_mobile .menu-icon .navicon {
  background: #FF5500;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 27px;
}

.account_btn--con_mobile .menu-icon .navicon:before,
.account_btn--con_mobile .menu-icon .navicon:after {
  background: #FF5500;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;

}

.account_btn--con_mobile .menu-icon .navicon:before {
  top: 10px;
}

.account_btn--con_mobile .menu-icon .navicon:after {
  top: -10px;
}

.account_btn--con_mobile .menu-btn {
  display: none;
}

.account_btn--con_mobile .menu-btn:checked ~ .menu {
  max-height: 300px;
  width: 300px;
  position: relative;
  left: -238px;
  top: 10px;
  border: 2px solid #FF5500;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);

}

.account_btn--con_mobile .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.account_btn--con_mobile .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.account_btn--con_mobile .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.account_btn--con_mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.account_btn--con_mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

  }

/*main content styling*/


/*splash styling*/
.splash_con {
  display: block;
  padding-top: 70px;
  width: 100%;
  height: 80vh;
  color: #FFFFFF;
  background-image: url('../Assets/graphics/splash_graphics/Placement Area.png');
  background-size: cover;
}
.slogan {
  font-size:30px;
  color: 	#ffff;
  text-align: center;
  padding-top: 2em;
}


/*find a program search card*/

.find_a_program_user_input {
color: black;
width: 350px;
height: 500px;
background-color: white;
border: 1px solid #FF5500;
border-radius: 10px;
box-shadow: 4px 4px 6px rgba(0,0,0,0.302);
float: right;
margin-top: -65px;
margin-right: 2em;
}

.find_a_program {
position: relative;
overflow: visible;
width: 100%;
margin: 23px auto 10px auto;
text-align: center;
font-size: 26px;
}

.find_a_program_user_input .user_input {
  width: 100%;
  height: auto;
}
/*
.input_fields {
  display: block;
  border-radius: 4px;
}*/

.input_fields label {
  width: 95%;
  display: block;
  margin-top: 18px;
  margin-left: 12px;
  margin-bottom: -3px;
  font-size: 20px;

}

.input_fields input {
width: 320px;
height: 45px;
display: block;
margin: 5px auto;
padding-left: 5px;
/*font-style: italic;*/
font-size: 16px;
/*color: #707070;*/
border-radius: 5px;
}


  .find_a_program_user_input ::-webkit-input-placeholder {

    font-style:italic;
  }
  .find_a_program_user_input ::-moz-placeholder {
    font-style:italic;

    } /* firefox 19+ */
  .find_a_program_user_input ::-moz-placeholder {
    font-style: italic;

  }
  .find_a_program_user_input ::-ms-input-placeholder {
    font-style: italic;

    } /* ie */

#submit_btn {
  margin: 30px auto 5px auto;
  width: 330px;
  height: 45px;
  background-color: #FF5500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}


/*splash container responsive/mobile styling*/
@media only screen and (min-width: 2000px) {
  .find_a_program_user_input {
    border: 5px solid pink;
    margin-right: 21em;
  }
}

@media only screen and (max-width: 1200px) {

  .find_a_program_user_input {
    margin: 60px auto;
    float: none;
  }
}




/*main featured camp container*/
.featured_con {
  display:block;
  width: 100%;
  height: auto;
}

.banner_shape {
  display: block;
  width: 100%;
  height: auto;
  z-index: 1000;
}

.banner_text {
  font-size:30px;
  color: 	#FF5500;
  text-align: center;
  position:absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.banner_media {
  position: relative;
  top: -135.88px;
  padding-top: 60px;
  width: 100%;
  height: auto;
  z-index: -1000;


}

/*landing page featured camps container*/
.camp_list-con {
  width: 100%;
  height: auto;
  display: none;
}

.camp_results {
display: grid;
margin: 72px;
grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
grid-gap: 10px;

/*
display: flex;
flex-direction: row;
flex-wrap: wrap;*/
}

#feat_camp .feat_arrow {
  margin: 10px 0 10px -15px;
  float: left;
  position: inherit;
  z-index: 1000;
}

.camp_results li {
  color: white;
  margin: 10px 10px;
  border: 2px solid #FF5500;
  background-color: #FF5500;
  width: 375px;
  height: 409px;
  border-radius: 20px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
li .camp_title-con {
  clear: both;
  height: 50%;
  width: auto;
  position:relative;

}
#camp_pic--card {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 20px 20px 0px 0px;
}

.camp_title-con h1{
  font-size: 24px;
  clear: both;
  padding-top: 5px;
  margin-left: 10px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
  position: inherit;
  z-index: 1000;
}
.camp_title-con .camp_local-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  float: left;
}
.camp_title-con #camp_local {
  font-size: 18px;
  font-style: italic;
  position: absolute;
  bottom: 10px;
  left: 30px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}
.camp_card-abt_con {
  height: 50%;
  position: relative;
}
.camp_card-abt_con #camp_host {
  display: block;
  font-size: 18px;
  margin: 5px auto 25px 10px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.camp_card-abt_con #camp_abt--card {
  display: block;
  font-size: 16px;
  line-height: 1.25em;
  margin-left: 10px;
  width:  auto;
}
.camp_card-abt_con #avail_dates--card {
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.camp_card-abt_con .camp_cal-icon {
  position: absolute;
  bottom: 17px;
  right: 15px;
}



/*footer styling*/
#footer {
  display: flex;
  width: 100%;
  height: 22em;
  background-color: #FF5500;
  color: white;
}
#footer_max_con {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 2em;
}
/*site map sytling*/
.site_map-con {
  margin-left: 30px;
  display: inline-block;
  width: 235px;
}

.site_map-con ul {
  font-size: 18px;
  text-align: center;
  width: inherit;
}
.site_map--item {
  margin-bottom: 15px;
}
.site_map-con ul a {
  text-decoration: none;
  color: white;
}
#social_media-con {
  margin-top: -5px;
  width: 235px;
  height: 30px;
}
#social_media-con ul {
  margin: 10px auto;
  margin-left: 20px;
}
#social_media-con li img{
  float: left;
  width: 25px;
  height: 30px;
  margin-left: 20px;
}
#footer_copyright {
  clear: both;
}
/*find a program styling*/

.fap_cta-con {
  width: 300px;
  margin: 0 auto;
}
.fap_cta-con h1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 10px;
}
.fap_cta-con h2 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  width: 255px;
  margin: 0 auto;
}
.fap_btn-con button {
  font-size: 20px;
  width: 270px;
  height: 45px;
  margin: 20px;
  cursor: pointer;
  background-color: #39A9DB;
  border: none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
   transition-duration: 0.2s;
}
.fap_btn-con button:active {
  box-shadow: none;
  padding: 3px 3px inherit inherit;
}
.fap_btn-con a {
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
  width: 150px;
  font-weight: 500;
}


/*mailing list signup*/
.mail_cta-con {
  margin-right: 30px;
}
.mail_title {
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.mail_cta-con h1 {
  font-size: 26px;
  font-weight: 700;
}
.mail_btn {
  display: block;
  font-size: 20px;
  width: 225px;
  height: 45px;
  margin: 20px auto;
  cursor: pointer;
  background-color: #FFF;
  border: none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
   transition-duration: 0.2s
}
.mail_btn:active {
  box-shadow: none;
  padding: 3px 3px inherit inherit;
}

.mail_btn a {
  color: #FF5500;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

#footer .mail_cta-con input {
  font-size: 18px;
  font-style: italic;
  width: 330px;
  height: 45px;
  border: 1px solid grey;
}

/*footer responsive styling*/

/*tablet/mobile phone styling*/
@media only screen and (max-width: 915px) {
  #footer {
    height: auto;
  }
  #footer_max_con {
    display: block;
    align-self: unset;
    width: 98%;
    text-align: center;
  }
  .site_map-con, .fap_cta-con, .mail_cta-con {
    margin: 30px auto 0 auto;
  }

}
/*tablet styling*/
@media only screen and (max-width: 1024px) {
  #footer #max_con > div {
 }
#footer_max_con .site_map-con {
  margin-left: auto;
}
  #footer_max_con .mail_cta-con input {
    width: 16em;
  }
  #footer_max_con .mail_title {
    font-size: 1.75em;
  }
}
}
