/*main content styling*/


/*splash styling*/
.splash_con {
  display: block;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 70px;
  width: 100%;
  height: 85vh;
  color: #FFFFFF;
  background-image: url('../Assets/graphics/splash_graphics/Placement Area.png');
  background-size: cover;
}
.slogan {
  font-size:28px;
  line-height: 1.25em;
  font-weight: 700;
  color: 	#ffff;
  text-align: center;
  padding-top: 2em;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.302)
}


/*find a program search card*/

.find_a_program_user_input {
color: black;
width: 350px;
height: 500px;
background-color: white;
border: 1px solid #FF5500;
border-radius: 10px;
box-shadow: 4px 4px 6px rgba(0,0,0,0.302);
float: right;
margin-top: -65px;
margin-right: 3em;
}

.find_a_program {
position: relative;
overflow: visible;
width: 100%;
margin: 23px auto 10px auto;
text-align: center;
font-size: 26px;
z-index: 600;
}

.find_a_program_user_input .user_input {
  width: 100%;
  height: auto;
}

.input_fields label {
  width: 95%;
  display: block;
  margin-top: 18px;
  margin-left: 12px;
  margin-bottom: -3px;
  font-size: 20px;

}

.input_fields input {
width: 92%;
height: 45px;
display: block;
margin: 5px auto;
padding-left: 5px;
font-size: 16px;
border-radius: 5px;
}


  .find_a_program_user_input ::-webkit-input-placeholder {

    font-style:italic;
  }
  .find_a_program_user_input ::-moz-placeholder {
    font-style:italic;

    } /* firefox 19+ */
  .find_a_program_user_input ::-moz-placeholder {
    font-style: italic;

  }
  .find_a_program_user_input ::-ms-input-placeholder {
    font-style: italic;

    } /* ie */

#submit_btn {
  margin: 30px auto 5px auto;
  width: 95%;
  height: 45px;
  background-color: #FF5500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
#submit_btn:active {
  box-shadow: none;
  padding: 3px 3px auto auto;
}


/*splash container responsive/mobile styling*/
@media only screen and (min-width: 2000px) {
  .find_a_program_user_input {
    margin-right: 21em;
  }
}
@media only screen and (max-width: 1200px){
  .find_a_program_user_input {
    width: 21em;
  }

}
@media only screen and (max-width: 1000px) {

  .find_a_program_user_input {
    width: 350px;
    margin: 30px auto;
    float: none;
  }
}
@media only screen and (max-width:350px) {
  .splash_con {
    padding-bottom: 100px;
  }
  .find_a_program_user_input {
    width: 300px;
  }
  .find_a_program_user_input input {
    width: 280px;

  }
  #submit_btn {
    width: 285px;
  }
}
@media only screen and (max-width: 375px) {
  .splash_con {
    padding-bottom: 100px;
    background-position: center;
  }
}
/*main featured camp container*/
.featured_con {
  display:block;
  width: 100%;
  height: auto;

}

.feat_camp--banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: auto;
}

.feat_camp--banner svg {
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.feat_camp--banner h1{
  position: relative;
  top: -35px;
  z-index: 400;
  font-size:32px;
  font-weight: 700;
  letter-spacing: 1px;
  color: 	#FF5500;
  text-align: center;
}
.feat_camp_con {
  position: relative;
}
.feat_camp_con #card_title{
color: white;
text-shadow: 0px 0px 6px rgba(0,0,0,0.302);
font-size: 32px;
position: absolute;
top: 70px;
margin-left: 20px;
}
.feat_camp_pic_con {
  position: relative;
  background-image: url("../Assets/graphics/splash_graphics/feat_camp_pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 35em;
  width: 100%;
  top: -25px;
  margin-bottom: -25px;
  z-index: -200;
}
img#feat_camp_pic {
  width: 100%;
  margin-bottom: -80px;
}
h2#camp_local {
  font-size: 18px;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.302);
  padding-top: 2px;
  margin-left: 12px;
  font-style: italic;
}
.feat_camp_con .camp_local {
  color: white;
  position: absolute;
  bottom: 20px;
  width: -webkit-fill-available;
  height: 25px;

}
.feat_camp_con .camp_local-icon {
  width: 15px;
  height: auto;
  float: left;
  margin: 0 10px;
}

.feat_camp_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  color: white;
  background-color: #FF5500;
}
.abt_camp {
  width: 22em;
  overflow: visible;
}

.abt_camp h2 {
  font-size: 18px;
  margin: 25px auto 30px 20px;
}

.abt_camp h3 {
  font-size: 16px;
  line-height: 1.25em;
  font-weight: 400;
  margin-left: 20px;
  width: 20em;
}

.btn_con {
  width: 22em;
  margin: auto;
}
.feat_camp_info button {
  font-size: 20px;
  width: 270px;
  height: 45px;
  margin: 20px;
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
   transition-duration: 0.2s;
}
.feat_camp_info button:active {
  box-shadow: none;
  padding: 3px 3px inherit inherit;
}
.feat_camp_info a {
  text-align: center;
  text-transform: uppercase;
  color: #FF5500;
  text-decoration: none;
  width: 150px;
  font-weight: 700;
}
.avail_dates {
  width: 22em;
  position: relative;
}

.avail_dates .wrapper {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.avail_dates .camp_cal-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.avail_dates span {
  font-size: 18px;
}
.tab_breakpoint {
  display: none;
}
/*responsive styling for main featured camp*/
@media only screen and (min-width: 200px) {

}


@media only screen and (max-width: 1024px) {
  .abt_camp {
    overflow: auto;
  }
  .abt_camp h3 {
    width: auto;
  }
  .camp_cal-icon {
    width: 1.25em;
    height: auto;
  }
}
@media only screen and (max-width: 950px) {
  .tab_breakpoint {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .feat_camp_info {
    height: auto;
    display: block;
    padding-bottom: 20px;
  }
  .abt_camp {
    width: 100%;
  }
  .abt_camp h3 {
    margin-right: 10px;
  }
  .avail_dates {
    width: 100%;
  }
  .avail_dates .wrapper {
    position: unset;
    text-align: center;
  }
  .tab_breakpoint {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .feat_camp_info .btn_con {
    display: none;
  }
  .avail_dates {
    margin: 20px auto;
  }
  .avail_dates .wrapper {
    text-align: left;
    margin-left: 20px;
  }
}




/*landing page featured camps list container*/
.camp_list-con {
  width: 100%;
  height: auto;
  margin: 40px auto;
}

.camp_results {
display: grid;
margin: 0;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 10px;
justify-items: center;
justify-content: center;
}

#feat_camp .feat_arrow {
  margin: 10px 0 10px -15px;
  float: left;
  position: inherit;
  z-index: 1000;
}
.camp_results .card-link {
  color: inherit;
  text-decoration: none;
}
.camp_results .card-link:visited {
  color: inherit;
  text-decoration: none;
}
.camp_results li {
  color: white;
  margin:0 10px;
  border: 2px solid #FF5500;
  background-color: #FF5500;
  min-width: 300px;
  max-width: 350px;
  height: 410px;
  border-radius: 20px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
li .camp_title-con {
  clear: both;
  height: 50%;
  width: auto;
  position:relative;

}
#camp_pic--card {
  width: 100%;
  height: 100%;
    position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 20px 20px 0px 0px;
}

.camp_title-con h1{
  font-size: 24px;
  clear: both;
  padding-top: 5px;
  margin-left: 10px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
  position: inherit;
  z-index: 1000;
}
.camp_title-con .camp_local-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  float: left;
}
.camp_title-con #camp_local {
  font-size: 18px;
  font-style: italic;
  position: absolute;
  bottom: 10px;
  left: 30px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}
.camp_card-abt_con {
  height: 50%;
  position: relative;
}
.camp_card-abt_con #camp_host {
  display: block;
  font-size: 18px;
  margin: 5px auto 25px 10px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.camp_card-abt_con #camp_abt--card {
  display: block;
  font-size: 16px;
  line-height: 1.25em;
  margin-left: 10px;
  width:  auto;
}
.camp_card-abt_con #avail_dates--card {
  font-size: 1.25rem;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.camp_card-abt_con .camp_cal-icon {
  position: absolute;
  bottom: 1.25rem;
  right: 15px;
}

/*responsive camp list styling*/
@media only screen and (min-width: 2000px){
  .camp_results {
    width: 2000px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .camp_results {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}



